.toggle {
}

.toggle__label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 0.9em;
  font-weight: 600;
}

.toggle__options {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggle__item {
  border-radius: 0;
}
