.filters {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 768px) {
    position: sticky;
    bottom: auto;
    width: fit-content;
  }
}

@media (max-width: 767px) {
  .filters .filters__togglePanel {
    left: auto;
    right: 1em;
  }

  body:has(.filters:not(.filters--hidden)) {
    overflow: hidden;
  }

  .filters--hidden {
    transform: translateY(100%);
  }
}

.filters__options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  list-style: none;
}

.filters__togglePanel {
  left: 1em;
}
