:root {
  --background: #fff;
  --foreground: #2d2e33;

  --primary-color: #1351f1;
  --secondary-color: #e3e3e3;
  --tertiary-color: #f2f4f8;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Geist, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body:has(.filters.--open) {
  overflow: hidden;
}
